{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Tesseract OCR Training</title>
<section class="hero is-info is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">    
          <h1 class="title">{{ folder_type }}</h1>   


		  
 		<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
        <tr style="color: silver; ">    
        <td>{{ folder_type }}</td>
</tr>
    </th>  
<tbody>
  {% for result in results %}
	<tr>
	  <td> 
        {% set file_ext = result[1].split('.')[-1].lower() %}
        {% if file_ext in ['txt', 'log', 'md', 'py', 'html', 'css', 'js', 'json', 'xml', 'csv'] %}
          <a href="/view/{{ result[2] }}?path={{ result[0] }}" target="_blank">{{ result[1] }}</a>
        {% else %}
          <a href="/download/{{ result[2] }}?path={{ result[0] }}" target="_blank">{{ result[1] }}</a>
        {% endif %}
      </td>
	</tr>
  {% endfor %}
</tbody>
</table>
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
