{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-info is-bold is-large"  background-color="gray">
  <div class="hero-body">
  
  <h1>It uses free tier server and it might not be realiable.  Please do not upload sensitivity data and download your own data as soon as possible</h1>
  <br/>
  <h1>Please use menu "images" to upload and edit its related text</h1>
  <h1>Use "training" to start training, and "results" to download result</h1>
  <h1>"Logs" are the log when training</h1>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
