{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 90%;
  min-width:800px;
  margin: 0 auto;
  align: left;
  
}
form {
margin: 0 auto; 
text-align: left;
  min-width:700px;
 }
</style>

<title>Tesstrain Tesseract OCR Text Editing and Training</title>
<section class="hero is-info is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">    
			<h1 class="title">Images</h1>      
		  
			<form id="uploadbanner" enctype="multipart/form-data" method="post" action="/upload"   > 
				<div style="float:left;">  
					<input id="fileupload" name="fileupload" type="file" multiple />
					<input type="submit" value="submit" id="submit" />
			</div>
		</form>

       <h2>  {{ error }}  </h2> 
	<br/>

		
        </div>
      </div>    
    </div>
  </div>
  
 <table  >
<!-- Table headers -->
    <th>
        <tr style="color: silver; ">    
        <td>Image</td>
        <td >TextFile</td>
        <td >Text</td>
        <td>Action</td>
</tr>
    </th>  
<tbody>
  {% for filepair in filepairs %}
	<tr>
	  <td> <a href="/imagefiles/{{ filepair[0] }}" download><img class="center" src="/imagefiles/{{filepair[0]}}" alt="{{filepair[0]}}"  /></a>   </td>
	  <td> <a href="/imagefiles/{{ filepair[1] }}" download>{{filepair[1]}}</a>   </td>
	  <td>{{filepair[2]}}</td>
	  <td> <a href="/imageedit?file={{filepair[0]}}">Edit </a> </td>
  </tr>
  {% endfor %}
</tbody>
</table>		
<br/>
<ul>
  <li>    You can upload multiple images at once.  After uploading the image, please click "Edit" to edit related text file. </li>
  <li>    It support multiple image format and it will be converted into png format if necessary. </li>
  <li>    It is good that you only have one letter per image instead put all letters in one image for training. </li>
  <li>    Please provide a text for each image. </li>
</ul>
<br/>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
