{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Tessaract OCR Training</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">    
          <h1 class="title">Training in process </h1>   
 		  
		  <h2>Start from {{start_template}} </h2>
		  <br>
    <div>
	<ul id="display_list">
				</ul>
				

<script type="text/javascript">
	var source = new EventSource("/stream");
	source.onmessage = function(event) {
		// $('#display').prepend(event.data);
		$('#display_list').prepend('<li>'+event.data+'</li>');
		if(event.data == "close"){
			source.close()
		}
	}
	</script>
    </div>
 

 
        </div>
      </div>    
    </div>
  </div>
</section>

 

{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
