{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}


<title>Tesstrain Tesseract OCR Text Editing and Training</title>
<section class="hero is-info is-bold is-small">
  <div class="hero-body" min-width="600px">
    <div class="container has-text-centered">

          <h1 class="title">Training</h1>   
		  
		  <text>It uses command from: https://github.com/tesseract-ocr/tesstrain </text>

<form action="/start_training"  method="POST" >

	<script>

		  function confirm_training() {
				var model_name= document.getElementById("model_name").value.trim();
				if (model_name.length <=1 ) {
					alert("please input a validate model name");
					return false;
				}
				var templatename= document.getElementById("templatename").value.trim();
				var template_string =''
				if (templatename.length >=1 ) {
					 
					template_string = "START_MODEL=" + templatename
				}
				var more_parameters =document.getElementById("more_parameters").value.trim();
				var message1 =  'Command will be like following, Continue?\n make training MODEL_NAME=' + model_name +' ' +template_string + ' ' + more_parameters;
				return confirm(message1);
		  }
	</script>
<div style="float:center;">   <b> <font color ='red'> {{ message_is_running }}  </font> </b>   </div>
	<div style="float:left;">    
		<label for="language">Select a template to start with:</label>
		<select name="templatename" id="templatename">
			{% for template in templates %}
				<option value="{{template}}">{{template}}</option> 
			{% endfor %}

		</select>
	</div>
	<br>
	<div style="clear: both;"></div>
	<div style="float:left;">    
		<label for="model_name">Model Name:</label>
		<input type="text" id="model_name" name="model_name" minlength="1">
	</div>
	<br>
	<div style="clear: both;"></div>
	<div style="float:left;">    
		<label for="more_parameters" >Additional Options:</label>
		<input type="text" id="more_parameters" name="more_parameters" size ="100" >
	</div>
	<br>
	<div style="clear: both;"></div>
	<div style="float:center;">
		<input type="submit" value="Submit" onclick="return confirm_training()"  {{enable_disable}}  >
	</div>

</form>

 

    </div>
	<div style="float:left;">	
		<br/>
		<br/>
		<p>After training, please go to "Results" to download result, "Logs" to see log. </p>
		<p> Common error you might see in training:</p>
		<p>1. The bitmap you uploaded might not have a match text file, make sure text file is there
		</p>
		<p>2. You might put additional options in the Additional Options field, which is not supported by tesstrain
			Solution: Check all option in https://github.com/tesseract-ocr/tesstrain/blob/main/tesstrain-main.sh
		</p>
		<p>3. It is good that you only have one letter per image instead put all letters in one image for training</p>
		<p>4. If you provide a start Model name such as "eng", the result file will be more than 1G in size.  To save space, every 2AM, <span  style= background-color:red>the .traindata files will be deleted if it is more than 24 hours old	</span></p>
		<p>5. If the log is not refresh, try to go log to click to see possible error message	</p>
		<p>6. There is only one training process running at a time, if you want to train another model, you need to wait for the current training to finish</p>
	</div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
