{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Tessaract OCR Training</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">    
          <h1 class="title">Training in process </h1>   
 		  
<pre id="output"></pre>
<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 1000);
</script>
 

 
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
